<nav class="navbar navbar-expand-md navbar-light shadow-sm bg-light w-100">
  <div class="container-fluid">
    <a class="navbar-brand btn" (click)="onToggleClick()">
      <i class="bi bi-list"></i>
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">

      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
