:host {
    z-index: 100;
}

.collapser {
    width: 24px;
    text-align: center;
    height: 24px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: #0000007a;
    }
}
