<div
  class="side-navbar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100"
  [class]="(opened$ | async) ? 'active-nav' : ''"
  id="sidebar">
  <a
    href="/"
    class="d-flex align-items-center mb-md-0 text-white text-decoration-none">
    <i class="bi bi-bootstrap-fill fs-4"></i>
    &nbsp; &nbsp;
    <span class="fs-4">My Admin</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    @for (item of menuItems$ | async; track item) {
      <li class="nav-item mt-1">
        <a
          class="nav-link text-white d-flex justify-content-between w-100"
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          aria-current="page">
          <span>
            <i [class]="item.icon"></i>
            <span class="m-2">{{ item.title }}</span>
          </span>
          @if (item.subItems?.length) {
            <div class="collapser" (click)="onCollapseMenuItem(item)">
              <i
                class="bi"
                [class]="
                  item.collapsed ? 'bi-chevron-right' : 'bi-chevron-down'
                "></i>
            </div>
          }
        </a>

        <ul
          class="nav nav-pills flex-column mb-auto overflow-hidden"
          style="margin-left: 1rem !important"
          [animation]="false"
          [ngbCollapse]="item.collapsed ?? false">
          @for (sub of item.subItems; track sub) {
            <li class="nav-item mt-1">
              <a
                class="nav-link text-white"
                [routerLink]="sub.route"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                aria-current="page">
                <i [class]="sub.icon"></i>
                <span class="m-2">{{ sub.title }}</span>
              </a>
            </li>
          }
        </ul>
      </li>
    }
  </ul>
  <hr />

  <div class="dropdown" ngbDropdown>
    <a
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      ngbDropdownToggle
      aria-expanded="false">
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2" />
      <strong>mdo</strong>
    </a>
    <ul
      class="dropdown-menu dropdown-menu-dark text-small shadow hover"
      aria-labelledby="dropdownUser1"
      ngbDropdownMenu>
      <li>
        <a class="dropdown-item" href="#">New project...</a>
      </li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>
